/* Header.css */

body{
    font-family: Poppins, Helvetica, sans-serif;
}
.header-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 40px; /* Example height */
    color: #000000; /* Example text color */

}
  
  .header-heading {
    padding: 0px;
    font-size: 30px; /* Example font size */
    margin: 0; /* Remove default margin */
  }
  