html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #ffffff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px; /* Example font size */
}

.plans-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.plansCard-container {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 5vw;
  justify-content: center;
}

.back-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

